<!-- chaque PostListItemComponent affiche le titre, le contenu et la date de création du poste -->
<li class="list-group-item"
    [ngClass]="{'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
  <div class="row">
    <h2 class="col-8 font-weight-bold">{{ title }}</h2>
    
    <span class="col-4 text-right font-italic">{{ created_at | date: 'M/d/y, hh:mm aa'}}</span>
  </div>
  
  <p>{{ content }}</p>

  <!-- boutons permettant d'augmenter et de diminuer le nombre de loveIts -->
  <button class="btn btn-success"
          type="button"
          (click)="increaseLoves()">Love it!</button>

  <button class="btn btn-danger"
          type="button"
          (click)="decreaseLoves()">Don't love it!</button>
</li>
