<h1 class="font-weight-bold">{{title}}</h1>

<ul class="list-group">
  <!-- un PostListItemComponent pour chaque poste dans la liste reçue -->
  <app-post-list-item *ngFor="let post of postsList"
                      [title]="post.title"
                      [content]="post.content"
                      [loveIts]="post.loveIts"
                      [created_at]="post.created_at"></app-post-list-item>
</ul>
